asttokens==2.4.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
certifi==2023.7.22
charset-normalizer==2.0.12
comm==0.1.4
debugpy==1.8.0
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
idna==3.4
importlib-metadata==7.0.0
ipykernel==6.26.0
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pip==23.3.1
platformdirs==4.1.0
prompt-toolkit==3.0.41
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2021.1
pyzmq==25.1.2
regex==2021.4.4
requests==2.26.0
setuptools==68.2.2
six==1.16.0
stack-data==0.6.2
ticktick-py==2.0.3
tornado==6.3.3
traitlets==5.14.0
typing_extensions==4.8.0
urllib3==1.26.7
wcwidth==0.2.12
websocket-client==1.6.4
wheel==0.42.0
zipp==3.17.0
